In [3]:
# import libs
from bs4 import BeautifulSoup as bs
import urllib.request as requests
import pandas as pd
import numpy as np
import os
import re

In [4]:
# set directory
os.chdir("/Users/mathiasrask/Desktop/kandidat/E2020/AQM/")

In [8]:
# load data
datatype = {"lis": str, "thomas":str ,"ballotpedia":str ,"cspan": str,
            "official_full": str, "opensecrets": str, "url":str,
            "fec": str, "state_rank": str, "district":str, 
            'icpsr':str, 'wikidata':str, 'google_entity_id':str,
            "house_history":str, "votesmart":str, "govtrack":str,
            "thomas":str, "govtrack":str, "twitter_id":str,
            'instagram_id':str, 'youtube_id':str, 'youtube':str,
            'facebook':str, 'twitter':str, 'instagram': str}

df = pd.read_csv('data/all-legislators-US.csv', dtype=datatype)

In [55]:
# keep only one row for each legislator with non-missing twitter-account
twitter_accounts = df[df['twitter'].notnull()][['bioguide', 'twitter']]
twitter_accounts.drop_duplicates(keep='first', inplace=True)

In [59]:
twitter_accounts

     bioguide          twitter
0     B000944  SenSherrodBrown
10    C000127  SenatorCantwell
15    C000141    SenatorCardin
28    C000174    SenatorCarper
37    C001070      SenBobCasey
...       ...              ...
2752  B001311     RepDanBishop
2753  M001210    RepGregMurphy
2754  L000594  SenatorLoeffler
2755  M000687   RepKweisiMfume
2761  G000061    repmikegarcia

[529 rows x 2 columns]

In [ ]:
['RepDanBishop', 'RepKweisiMfume']

In [63]:
df[df['bioguide']=='M000687'][['bioguide','start','end']]

     bioguide         start           end
2755  M000687  '1987-01-06'  '1989-01-03'
2756  M000687  '1989-01-03'  '1991-01-03'
2757  M000687  '1991-01-03'  '1993-01-03'
2758  M000687  '1993-01-05'  '1995-01-03'
2759  M000687  '1995-01-04'  '1996-02-18'
2760  M000687  '2020-05-05'  '2021-01-03'